<form action="/data/<%= cckState.schemaName %>" class="form-horizontal">
  <div class="row">
    <div class="col">
      <input id="cw-input-excludeDeleted" type="hidden" name="excludeDeleted" value="<%= cckState.excludeDeleted %>" />
      <input id="cw-input-limit" type="hidden" name="limit" value="<%= cckState.limit %>" />
      <input id="cw-input-offset" type="hidden" name="offset" value="<%= cckState.offset %>" />
      <input id="cw-input-q" type="hidden" name="q" value="<%= cckState.q %>" />
      <input id="cw-input-k" type="text" class="form-control" name="k" placeholder="Keyword" value="<%= cckState.k %>" />
    </div>
    <div class="col">
      <!-- Search button -->
      <button id="cw-btn-search" class="btn btn-sm btn-secondary" name="search" value="1"><span class="oi oi-magnifying-glass"></button>
      <!-- Toggle show all Button -->
      <a id="cw-btn-toggle-show-all" class="btn btn-sm btn-secondary" href="/data/<%= cckState.schemaName %>?excludeDeleted=<%= cckState.excludeDeleted == 1 ? 0 : 1 %>&limit=<%= cckState.limit %>&q=<%= cckState.q %>&k=<%= cckState.k %>">
        <span id="cw-icon-toggle-show-all" class="oi <%= cckState.excludeDeleted == 1 ? 'oi-ellipses' : 'oi-eye' %>"></span>
      </a>
      <!-- Insert Button -->
      <% if (isAuthorized(cckState.auth, cckState.schema.insertGroups)) { %>
        <a id="button-insert" class="btn btn-sm btn-secondary" href="/data/<%= cckState.schemaName %>/insert?excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>&q=<%= cckState.q %>&k=<%= cckState.k %>">
          <span class="oi oi-plus"></span>
        </a>
      <% } %>
    </div>
  </div>
</form>