<% if (config.showTopNav) { %>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">

    <a class="navbar-brand" href="/">
      <%= config.title %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">

      <ul class="navbar-nav mr-auto">
        <% for (let navigation of config.navigation) { %>
          <% if (!isAuthorized(request.auth, navigation.groups)) {continue; } %>

          <% if ('url' in navigation && typeof(navigation.url) === 'string' && navigation.url.trim() !== '') { %>
            <!-- Navigation -->
            <li class="nav-item <%= navigation.url === request.url ? 'active' : '' %>"><a class="nav-link" href="<%= navigation.url %>"><%- navigation.caption %></a></li>
          <% } else { %>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%- navigation.caption %> <span class="caret"></span></a>
              <div class="dropdown-menu">
                <% for (let subNavigation of navigation.children) { %>
                  <% if (!isAuthorized(request.auth, subNavigation.groups)) {continue; } %>
                  <% if ('url' in subNavigation) { %>
                    <a class="dropdown-item <%= subNavigation.url === request.url ? 'active' : '' %>" href="<%= subNavigation.url %>">
                      <%- subNavigation.caption %>
                    </a>
                  <% } %>
                <% } %>
              </div>
            </li>

          <% } %>

        <% } %>

      </ul>

      <ul class="navbar-nav mr-md-2">
        <% if (request.auth.username){ %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= request.auth.username %> <span class="caret" ></span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
        <% } else { %>
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
        <% } %>
      </ul>

    </div><!--/.nav-collapse -->
  </nav>
  <script>
    $(document).ready(function (event) {
      // determine active `.top-menu`
      let requestUrl = '<%= request.url %>'
      let maxHref = ''
      if ($('.top-menu.active').length === 0) {
        $('.top-menu').each(function () {
          let href = $(this).children('a').attr('href')
          if (requestUrl.indexOf(href) === 0 && href.length > maxHref.length) {
            maxHref = href
          }
        })
        $('.top-menu:has(a[href="' + maxHref + '"])').addClass('active')
      }
      // also make `.top-menu` parent active
      $('.top-menu.active').parent('ul').parent('li').addClass('active')
      // add additional padding
      if ($('.navbar-fixed-top').length > 0) {
        let paddingTop = $('.navbar-fixed-top').height() + 20 + 'px'
        $('body').css('padding-top', paddingTop)
      }
    })
  </script>
<% } %>
<% if (config.showJumbotron) { %>
  <%- render(config.jumbotron, {config, request, response, render, isAuthorized}) %>
<% } %>