<!DOCTYPE html>
<html lang="en">
  <head>
    <%- partial.htmlHeader %>
    <%- partial.customHtmlHeader %>
  </head>
  <body>
    <%- partial.scripts %>
    <script src="/js/script.js"></script>
    <%- partial.customScripts %>
    <header>
      <%- partial.largeBanner %>
    </header>
    <% let leftWidgetExists = partial.leftWidget && partial.leftWidget.trim().length > 0 %>
    <% let rightWidgetExists = partial.rightWidget && partial.rightWidget.trim().length > 0 %>
    <main role="main" class="container">
      <div class="row">
        <% if (leftWidgetExists) { %>
          <div class="col-sm-3">
            <%- partial.leftWidget %>
          </div>
        <% } %>
        <div class="<%= leftWidgetExists && rightWidgetExists? 'col-sm-6': (leftWidgetExists || rightWidgetExists? 'col-sm-9': 'col-sm-12')%>">
          <%- partial.smallBanner %>
          <%- content %>
          <%- partial.smallFooter %>
        </div>
        <% if (rightWidgetExists) { %>
          <div class="col-sm-3">
            <%- partial.rightWidget %>
          </div>
        <% } %>
      </div>
    </main>
    <footer class="container">
        <%- partial.largeFooter %>
    </footer>
    <%- partial.customFinalScripts %>
  </body>
</html>
