<script src="/ace-builds/src-min-noconflict/ace.js"></script>
<script src="/js/cck-form.js"></script>
<script src="/ejs/ejs.min.js"></script>

<%- include default.insertForm/caption.ejs %>

<form id="cw-form" action="/data/<%= cckState.schemaName %>/insert" method="post" enctype="multipart/form-data">
  <input type="hidden" name="excludeDeleted" value="<%= cckState.excludeDeleted %>" />
  <input type="hidden" name="limit" value="<%= cckState.limit %>" />

  <%- include default.insertForm/presentation.ejs %>
  
  <div class="form-group row">
    <div class="">
      <button class="btn btn-secondary btn-lg" href="/data/<%= cckState.schemaName %>">Save</button>
      <% if (isAuthorized(cckState.auth, cckState.schema.selectGroups)) { %>
        <a class="btn btn-secondary btn-lg" href="/data/<%= cckState.schemaName %>">Cancel</a>
      <% } else { %>
        <a class="btn btn-secondary btn-lg" href="/">Cancel</a>
      <% } %>
    </div>
  </div>
</form>

<%- include default.insertForm/modal.ejs %>

<script src="/js/cck-form-insert.js"></script>
<script>
  cwAjaxifyInsertForm('<%= cckState.schemaName %>')
</script>
