<h3>New <%='caption' in cckState && cckState.caption ? cckState.caption : cckState.schemaName %></h3>

<script src="/ace-builds/src-min-noconflict/ace.js"></script>
<script src="/js/cck-form.js"></script>
<script src="/ejs/ejs.min.js"></script>
<form id="cw-form" action="/data/<%= cckState.schemaName %>/insert" method="post" enctype="multipart/form-data">
  <input type="hidden" name="excludeDeleted" value="<%= cckState.excludeDeleted %>" />
  <input type="hidden" name="limit" value="<%= cckState.limit %>" />

  <% for (let fieldName of cckState.fieldNames) { %>

    <% if (cckState.schema.fields[fieldName].renderTab) { %>
      <ul id="form-tabs" class="nav nav-tabs" style="margin-bottom:1em;">
        <% let active = true %>
        <% for (let tab in cckState.schema.tabs) { %>
          <li role="presentation" class="nav-item <%= active? 'active': '' %>">
            <a class="nav-link <%= active? 'active': '' %>" href="#<%= tab %>"><%- cckState.schema.tabs[tab] %></a>
          </li>
          <% active = false %>
        <% } %>
      </ul>
    <% } %>

    <% if (cckState.schema.fields[fieldName].hidden && cckState.schema.fields[fieldName].hidden.indexOf('insert') > -1) { continue;} %>

    <% if (cckState.schema.fields[fieldName]._inputTemplate) { %>
      <span data-tab="<%= cckState.schema.fields[fieldName].tab %>">
        <%- renderFieldTemplate(cckState.schema, fieldName, '_inputTemplate', result) %>
      </span>
      <% continue %>
    <% } %>

    <div class="form-group row" data-tab="<%= cckState.schema.fields[fieldName].tab %>">
      <label class="col-form-label col-sm-2"><%= cckState.schema.fields[fieldName].caption %></label>
      <div class="col-sm-10 row container">
        <%- renderFieldTemplate(cckState.schema, fieldName, 'inputTemplate', {}) %>
      </div>
    </div>

  <% } %>

  <div class="form-group row">
    <div class="">
      <button class="btn btn-secondary btn-lg" href="/data/<%= cckState.schemaName %>">Save</button>

      <% if (isAuthorized(cckState.auth, cckState.schema.selectGroups)) { %>
        <a class="btn btn-secondary btn-lg" href="/data/<%= cckState.schemaName %>">Cancel</a>
      <% } else { %>
        <a class="btn btn-secondary btn-lg" href="/">Cancel</a>
      <% } %>

    </div>
  </div>
</form>

<div id="cw-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Insert</h5>
      </div>
      <div class="modal-body">
        <div id="cw-modal-alert" class="alert" role="alert"></div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary btn-lg" href="/data/<%= cckState.schemaName %>/insert?excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>">Insert Again</a>

        <% if (isAuthorized(cckState.auth, cckState.schema.updateGroups)) { %>
          <a id="cw-btn-re-edit" class="btn btn-secondary btn-lg" style="display:none;" href="">Edit</a>
        <% } %>

        <% if (isAuthorized(cckState.auth, cckState.schema.selectGroups)) { %>
          <a class="btn btn-secondary btn-lg" href="/data/<%= cckState.schemaName %>?excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>">Finish</a>
        <% } else { %>
          <a class="btn btn-secondary" href="/">Finish</a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // ajaxify
    cwAjaxifyForm('cw-form', {
      method: 'POST',
      action: '/api/v1/<%= cckState.schemaName %>',
      dataType: 'json',
      success: function (data, textStatus, jqXhr) {
        $('#cw-btn-re-edit').hide()
        if (data.status < 400) {
          $('#cw-modal-alert').removeClass('alert-danger')
          $('#cw-modal-alert').addClass('alert-success')
          $('#cw-modal-alert').html('<strong>Success</strong>' + data.userMessage)
          if ('_id' in data.result) {
            $('#cw-btn-re-edit').attr('href', '/data/<%= cckState.schemaName %>/update/' + data.result._id + '?excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>')
            $('#cw-btn-re-edit').show()
          }
        } else {
          $('#cw-modal-alert').removeClass('alert-success')
          $('#cw-modal-alert').addClass('alert-danger')
          $('#cw-modal-alert').html('<strong>Failed</strong>' + data.userMessage)
          console.log(data)
        }
        $('#cw-modal').modal('show')
      },
      error: function (jqXhr, textStatus, errorThrown) {
        $('#cw-modal-alert').removeClass('alert-success')
        $('#cw-modal-alert').addClass('alert-danger')
        $('#cw-modal-alert').html('<strong>Failed</strong>' + textStatus)
        console.error(errorThrown)
        $('#cw-modal').modal('show')
      }
    })
  })
</script>