<script src="/ace-builds/src-min-noconflict/ace.js"></script>
<script src="/js/cck-form.js"></script>
<script src="/ejs/ejs.min.js"></script>

<div class="cw-hidden">
  <textarea id="cw-cckState"><%= JSON.stringify(cckState) %></textarea>
  <textarea id="cw-initial-data"><%= JSON.stringify({metadata, results}) %></textarea>
  <textarea id="cw-row-template"><%- include default.show/rowTemplate.ejs %></textarea>
  <textarea id="cw-pagination-template"><%- include default.show/paginationTemplate.ejs %></textarea>
</div>

<!-- Caption -->
<%- include default.show/caption.ejs %>

<div style="margin-bottom:1em">
  <!-- Custom HTML components -->
  <%- cckState._customHtmlComponents ? cckState._customHtmlComponents : '' %>
  <!-- Search form -->
  <%- include default.show/searchForm.ejs %>
</div>

<%- include default.show/presentationTemplate.ejs %>

<div id="cw-pagination"><!-- Pagination will be loaded here --></div>

<%- include default.show/deleteModal.ejs %>

<script src="/js/cck-form-show.js"></script>
<script>
  cwAjaxifyShow()
</script>
