<script src="/ace-builds/src-min-noconflict/ace.js"></script>
<script src="/js/cck-form.js"></script>
<script src="/ejs/ejs.min.js"></script>

<%- include(cckState.schema.showOneViewCaption) %>

<div id="cw-form">
  <%- include(cckState.schema.showOneViewPresentation) %>
  
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-2">

      <% if (result._customHtmlComponents) { %>
        <%- result._customHtmlComponents %>
      <% } %>

      <% if (isAuthorized(cckState.auth, cckState.schema.updateGroups) && !result._restrictUpdate) { %>
        <a class="btn btn-secondary btn-lg" href="/data/<%= cckState.schemaName %>/update/<%= cckState.documentId %>?excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>&offset=<%= cckState.offset %>&q=<%= cckState.q %>&k=<%= cckState.k %>">Edit</a>
      <% } %>

      <% if (isAuthorized(cckState.auth, cckState.schema.selectGroups)) { %>
        <a class="btn btn-secondary btn-lg" href="/data/<%= cckState.schemaName %>?excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>&offset=<%= cckState.offset %>&q=<%= cckState.q %>&k=<%= cckState.k %>">Back</a>
      <% } else { %>
        <a class="btn btn-secondary btn-lg" href="/">Back</a>
      <% } %>

    </div>
  </div>
</div>
