<script src="/ace-builds/src-min-noconflict/ace.js"></script>
<script src="/js/cck-form.js"></script>
<script src="/ejs/ejs.min.js"></script>

<div class="cw-hidden">
  <textarea id="cw-cckState"><%= JSON.stringify(cckState) %></textarea>
  <textarea id="cw-initial-data"><%= JSON.stringify({metadata, results}) %></textarea>
  <textarea id="cw-row-template"><%- include(cckState.schema.showViewRowTemplate) %></textarea>
  <textarea id="cw-pagination-template"><%- include(cckState.schema.showViewPaginationTemplate) %></textarea>
</div>

<!-- Caption -->
<%- include(cckState.schema.showViewCaption) %>

<div style="margin-bottom:1em">
  <!-- Custom HTML components -->
  <%- cckState._customHtmlComponents ? cckState._customHtmlComponents : '' %>
  <!-- Search form -->
  <%- include(cckState.schema.showViewSearchForm) %>
</div>

<%- include(cckState.schema.showViewPresentationTemplate) %>

<div id="cw-pagination"><!-- Pagination will be loaded here --></div>

<%- include(cckState.schema.showViewDeleteModal) %>

<script src="/js/cck-form-show.js"></script>
<script>
  cwAjaxifyShow()
</script>
